.tileContainer{
    padding: 10px;
}

.tile {
    height: 150px;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
}

.delta {
    font-size: medium;
}

.tileContent {
    font-size: xx-large;
    margin: 20px;
}

.label {
    font-size: small;
    font-weight: bolder;
    margin-top: 15px;
}

.timeLabel {
    float: right;
    background-color: #dbc2f1;
    color: #8a2be2;
}

.populationLabel {
    background-color: #e7e7e7;
    color: #808080;
}

.confirmed {
    color: #f70404;
}

.tile.confirmed {
    background-color: #f8dce4;
}

.active {
    color: #4179f1;
}

.tile.active {
    background-color: #e1e4fa;
}

.recovered {
    color: #10aa37;
}

.tile.recovered {
    background-color: #d6fad6;
}

.deceased {
    color: #808080;
}

.tile.deceased {
    background-color: #e9e7e7;
}

.icon {
    /* float: right; */
    cursor: pointer;
    border-radius: 50%;
    opacity: 50%;
}

.ConfirmedIcon {
    border: 1px solid #f70404;
}

.ActiveIcon {
    border: 1px solid #4179f1;
}

.RecoveredIcon {
    border: 1px solid #10aa37;
}

.DeceasedIcon {
    border: 1px solid #808080;
}

