.tile-container{
    padding: 10px;
}

.tile {
    height: 150px;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
}

.delta {
    font-size: medium;
}

.tile-content {
    font-size: xx-large;
    margin: 20px;
}

.time-label {
    text-align: right;
    font-size: small;
}

.label-color {
    font-weight: bolder;
    background-color: rgb(219, 194, 241);
    color: blueviolet;
}

.confirmed {
    color: rgb(247, 4, 4);
}

.bg-filled-confirmed {
    background-color: rgb(248, 220, 228);
}

.active {
    color: rgb(65, 121, 241);
}

.bg-filled-active {
    background-color: rgb(225, 228, 250);
}

.recovered {
color: rgb(16, 170, 55);
}

.bg-filled-recovered {
    background-color: rgb(214, 250, 214);
}

.deceased {
    color: gray;
}

.bg-filled-deceased {
    background-color: rgb(233, 231, 231);
}




