.confirmed {
    color: #f70404;
}

.bgFilledConfirmed {
    background-color: #f8dce4;
    border: 3px solid #f70404;
}

.active {
    color: #4179f1;
}

.bgFilledActive {
    background-color: #e1e4fa;
    border: 3px solid #4179f1;
}

.recovered {
    color: #10aa37;
}

.bgFilledRecovered {
    background-color: #d6fad6;
    border: 3px solid #10aa37;
}

.deceased {
    color: #808080;
}

.bgFilledDeceased {
    background-color: #e9e7e7;
    border: 3px solid #808080;
}

.textStyle {
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
    font-size: large;
    font-family: monospace;
}

.outer {
    padding: 20px;
}

.heading {
    margin-top: 20px;
    color: #646262;
    font-family: cursive;
}

.right{
    float: right;
}

.label {
    color: #646262;
    font-family: cursive;
    font-weight: bold;
    margin-right: 10px;
}
